<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>footer</title>
    <link rel="stylesheet" href="/css/component/footer.css">
</head>
<body>
    
	<!-- footer -->
	<footer class="eve-grid-auto eve-col-align-center" style="background-color:#002E73;">
            <div class="eve-row">
                <div class="eve-col-cu eve-col-align-center" style="width:100%;">
                    <div class="eve-row">
                        <div class="eve-col-cu" style="width:1184px;margin-top:30px;">
                            <div class="eve-row">
                                <!-- logo2 -->
                                <div class="eve-col-cu" style="width:130px;margin-top:20px;">
                                    <div class="eve-component">
                                        <div class='eve-image eve-component' data-comp-name='图片' data-comp-path='eevee/image'>
                                            <div>
    
                                                <img alt="" style="width: 100%" src="../static/images/logo2.png">
    
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- 购物指南 -->
                                <div class="eve-col-cu" style="width:150px;margin-left:50px;margin-top:20px;">
                                
                                    <div class="eve-row">
                                        <div class="eve-col-cu" style="width:100%;">
                                            <div class="eve-component">
                                                <div class='eve-text eve-component' data-comp-name='文字' data-comp-path='eevee/text'>
                                                    <div class="text-content">
    
    
                                                        <p class=""><span style="color: rgb(255, 255, 255); font-size: 16px; font-weight: bold;" class="">购物指南</span></p>
    
    
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
    
                                    <div class="eve-row">
                                        <div class="eve-col-cu" style="width:100%;margin-top:16px;">
                                            <div class="eve-component eve-editing">
                                                <div class='eve-text eve-component' data-comp-name='文字' data-comp-path='eevee/text'>
                                                    <div class="text-content" style="line-height:24px;">
    
    
    
    
                                                        <p><span style="color: rgb(255, 255, 255); font-size: 12px;"><a href="" target="_blank" rel="noopener noreferrer">查找店铺</a></span></p>
                                                        <p><span style="color: rgb(255, 255, 255);font-size: 12px;"><a href="" target="_blank">购买须知</a></span></p>
                                                        <p><span style="color: rgb(255, 255, 255);font-size: 12px;"><a href="" target="_blank">支付方式</a></span></p>
                                                        <p><span style="color: rgb(255, 255, 255);font-size: 12px;"><a href="" target="_blank">配送方式</a></span></p>
                                                        <p><span style="color: rgb(255, 255, 255);font-size: 12px;"><a href="" target="_blank">退换货政策</a></span></p>
    
    
    
    
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- 关于我们 -->
                                <div class="eve-col-cu" style="width:150px;margin-top:20px;">
                                    <div class="eve-row">
                                        <div class="eve-col-cu" style="width:100%;">
                                            <div class="eve-component">
                                                <div class='eve-text eve-component' data-comp-name='文字' data-comp-path='eevee/text'>
                                                    <div class="text-content">
    
    
                                                        <p><span style="color: rgb(255, 255, 255); font-weight: bold; font-size: 16px;" class="">关于我们</span></p>
    
    
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="eve-row">
                                        <div class="eve-col-cu" style="width:100%;margin-top:16px;">
                                            <div class="eve-component">
                                                <div class='eve-text eve-component' data-comp-name='文字' data-comp-path='eevee/text'>
                                                    <div class="text-content" style="line-height:24px;">
    
    
    
    
                                                        <p class=""><span style="color: rgb(255, 255, 255); font-size: 12px;"><a href="/pony/story" target="_blank" rel="noopener noreferrer">品牌故事</a></span></p>
                                                        <p><span style="color: rgb(255, 255, 255);font-size: 12px;" class=""><a href="/news" target="_blank">品牌资讯</a></span></p>
                                                        <p><span style="color: rgb(255, 255, 255);font-size: 12px;" class=""><a href="/register" target="_blank">注册pony会员</a></span></p>
                                                        <p class=""><span style="color: rgb(255, 255, 255);font-size: 12px;"><a href="/help" target="_blank">获取帮助</a></span></p>
    
    
    
    
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Contacts us-->
                                <div class="eve-col-cu" style="width:150px;margin-top:20px;">
                                    <div class="eve-row">
                                        <div class="eve-col-cu" style="width:100%;">
                                            <div class="eve-component">
                                                <div class='eve-text eve-component' data-comp-name='文字' data-comp-path='eevee/text'>
                                                    <div class="text-content">
    
    
    
                                                        <p><span style="color: rgb(255, 255, 255); font-weight: bold; font-size: 16px;" class="">Contacts</span><span
                                                             style="color: rgb(255, 255, 255); font-size: 16px; font-weight: bold;" class=""> us</span></p>
    
    
    
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
    
                                    <div class="eve-row">
                                        <div class="eve-col-cu" style="width:100%;margin-top:16px;">
                                            <div class="eve-component">
                                                <div class='eve-text eve-component' data-comp-name='文字' data-comp-path='eevee/text'>
                                                    <div class="text-content" style="line-height:24px;">
                                                        <p><span style="color: rgb(255, 255, 255);font-size: 12px;">service@ponychina.com</span></p>
                                                        <p><span style="color: rgb(255, 255, 255);font-size: 12px;">9:30-20:00</span></p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- 关注我们 -->
                                <div class="eve-col-cu" style="width:593px;margin-top:20px;">
                                    <div class="eve-row">
                                        <div class="eve-col-cu eve-col-align-right" style="width:500px;">
                                            <div class="eve-component">
                                                <div class='eve-text eve-component' data-comp-name='文字' data-comp-path='eevee/text'>
                                                    <div class="text-content" style="text-align:right;">
    
                                                        <p><span style="color: rgb(255, 255, 255); font-weight: bold; font-size: 16px;" class="">关注我们</span></p>
    
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="eve-row">
                                        <div class="eve-col-cu eve-col-align-right" style="width:500px;height:200px;margin-top:10px;">
                                            <div class="eve-row">
                                                <div class="eve-col-cu" style="width:100px;">
                                                    <div class="eve-row">
                                                        <div class="eve-col-cu" style="width:100px;">
                                                            <div class="eve-component">
                                                                <div class='eve-image eve-component' data-comp-name='图片' data-comp-path='eevee/image'>
                                                                    <div>
    
                                                                        <img alt="" style="width: 100%" src="../static/images/weibo.png">
    
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
    
                                                    <div class="eve-row">
                                                        <div class="eve-col-cu" style="width:100px;margin-top:-16px;margin-left:24px;">
                                                            <div class="eve-component">
                                                                <div class='eve-text eve-component' data-comp-name='文字' data-comp-path='eevee/text'>
                                                                    <div class="text-content">
    
                                                                        <p><span style="color: rgb(255, 255, 255);font-size: 12px;">PONY微博</span></p>
    
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="eve-col-cu" style="width:100px;margin-left:20px;">
                                                    <div class="eve-row">
                                                        <div class="eve-col-cu" style="width:100px;">
                                                            <div class="eve-component">
                                                                <div class='eve-image eve-component' data-comp-name='图片' data-comp-path='eevee/image'>
                                                                    <div>
    
                                                                        <img alt="" style="width: 100%" src="../static/images/weixin.png">
    
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="eve-row">
                                                        <div class="eve-col-cu" style="width:100px;margin-top:-16px;margin-left:24px;">
                                                            <div class="eve-component">
                                                                <div class='eve-text eve-component' data-comp-name='文字' data-comp-path='eevee/text'>
                                                                    <div class="text-content">
    
    
                                                                        <p><span style="color: rgb(255, 255, 255);font-size: 12px;">PONY微信</span></p>
    
    
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="eve-row">
                        <div class="eve-col-cu" style="width:1184px;border-top:1px solid #666666;">
                            <div class="eve-row">
                                <div class="eve-col-cu" style="width:400px;height:30px;margin-top:8px;">
                                    <div class="eve-row">
                                        <div class="eve-col-cu" style="width:24px;">
                                            <div class="eve-component">
                                                <div class='eve-image eve-component' data-comp-name='图片' data-comp-path='eevee/image'>
                                                    <div>
    
                                                        <img alt="" style="width: 100%" src="../static/images/guoqi.png">
    
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="eve-col-cu" style="width:350px;margin-left:10px;height:18px;">
                                            <div class="eve-component">
                                                <div class='eve-text eve-component' data-comp-name='文字' data-comp-path='eevee/text'>
                                                    <div class="text-content">
    
                                                        <p class=""><span style="color: rgb(255, 255, 255);font-size: 12px;">中国大陆 ©
                                                                2017 PONY, Inc. 保留所有权利</span></p>
    
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="eve-col-cu eve-col-align-right" style="width:784px;margin-top:8px;height:30px;">
                                    <div class="eve-row">
                                        <div class="eve-col-cu" style="width:150px;">
                                            <div class="eve-component">
                                                <div class='eve-text eve-component' data-comp-name='文字' data-comp-path='eevee/text'>
                                                    <div class="text-content">
                                                        <p><span style="color: rgb(255, 255, 255);font-size: 12px">沪ICP备16020555号-2</span><br></p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="eve-col-cu" style="width:20px;"></div>
                                        <div class="eve-col-cu" style="width:100px;">
                                            <div class="eve-component">
                                                <div class='eve-text eve-component' data-comp-name='文字' data-comp-path='eevee/text'>
                                                    <div class="text-content">
                                                        <span style="color: rgb(255, 255, 255);font-size: 12px;">
                                                            上海工商</span><br>
    
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="eve-col-cu" style="width:20px;"></div>
                                        <div class="eve-col-cu" style="width:200px;">
                                            <div class="eve-component">
                                                <div class='eve-text eve-component' data-comp-name='文字' data-comp-path='eevee/text'>
                                                    <div class="text-content">
                                                        <p><span style="color: rgb(255, 255, 255); font-size: 12px;"><a href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=31010902002081"
                                                                 target="_blank">沪公网安备&nbsp;31010902002081号</a></span></p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
       
</body>
</html>