<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>header</title>
	<link rel="stylesheet" href="/css/component/header.css">
	<script type="text/javascript" src="/libs/require/require.js" data-main="/js/header"></script>
</head>
<body>
	<!-- header -->
<header>
		<!--  pony-ceiling-->
		<div class="pony-ceiling">
			<div class="pony-ceiling-container clearfix">
				<ul>
					<li>
						<i class="iconfont icon-user"></i>
						<a href="http://localhost:2000/html/login.html" id="js-login-in">登录</a>
						<span>/</span>
						<a href="http://localhost:2000/html/register.html" id="js-user-register">注册</a>
					</li>
					<li><a href="/help">帮助</a></li>
					<li><i class="iconfont icon-icon3"></i><a class="online-customer-service" href="javascript:;">客服中心</a></li>
				</ul>
			</div>
		</div>
		<!--  pony-navbar-->
		<div class="pony-navbar">
			<div class="navbar-wrapper">
				<a href="/">
					<img class="pony-logo" src="../static/images/logo.png" alt="pony" class="pony-logo">
				</a>

				<ul class="navbar-list">
					<li class="category-item">
						<div class="first-category">
							<a href="http://localhost:2000/html/list.html">关于pony</a>
						</div>
					</li>

					<li class="category-item">
						<div class="first-category">
							<a href="http://localhost:2000/html/list.html">#就这样PLAY#</a>
						</div>
					</li>

					<li class="category-item">
						<div class="first-category">
							<a href="http://localhost:2000/html/list.html"> 男子</a>
						</div>
					</li>

					<li class="category-item">
						<div class="first-category">
							<a href="http://localhost:2000/html/list.html">女子</a>
						</div>
					</li>

					<li class="category-item">
						<div class="first-category">
							<a href="http://localhost:2000/html/list.html">搜索店铺</a>
						</div>
					</li>


				</ul>
				<div class='pony-search eve-component' data-comp-name='PONY导航栏' data-comp-path='design/pony_navbar'>
					<form class="form form-search" type="get" id="form-search" action="/list" data-hrefbase="">
						<div class="input-search">
							<button class="btn-search" type="submit"></button>
							<input type="text" name="q" class="search-input" placeholder="搜索" value="" autocomplete="off">
							<a href="http://localhost:2000/html/cart.html">

							</a>
						</div>
					</form>
				</div>
			</div>
		</div>
	</header>
</body>
</html>