<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/css/items.css">
    <script type="text/javascript" src="/libs/require/require.js" data-main="/js/items.js"></script>
</head>
<body>
    <header></header>
    <main>
            <ul>
                    <li>
                        <div class="item-box">
                            <a href="" _blank><img src="/static/images/2 (10).jpeg" alt=""></a>

                            <div class="color-count "><span>2 色</span></div>

                            <div class="product-name">
                                <a href="/items/2196891" target="_blank">PONY(波尼)经典系列女鞋82W1AT01BK</a>
                            </div>
                            <div class="product-price">
                                <span class='now-price'>￥539.00</span></div>

                        </div>
                    </li>
                </ul>
    </main>
    <footer></footer>
</body>
</html>